
@{
    Layout = null;
}

@model RMSWebAPI_Client.ViewModel.ProductViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "Products", FormMethod.Post))
    {
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>@Html.LabelFor(model => model.Product.ProductName)</td>
                <td>@Html.TextBoxFor(model=>model.Product.ProductName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Product.Quantity)</td>
                <td>@Html.TextBoxFor(model => model.Product.Quantity)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Product.UnitPrice)</td>
                <td>@Html.TextBoxFor(model => model.Product.UnitPrice)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Product.TotalPrice)</td>
                <td>@Html.TextBoxFor(model => model.Product.TotalPrice)</td>
            </tr>
            
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                    @Html.HiddenFor(model => model.Product.Oid)
                </td>

            </tr>
        </table>
    }
</body>
</html>
